.about-page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.about-header {
  text-align: center;
}

.about-header h1 {
  font-size: 2.5em;
  color: #000;
}

.about-content {
  margin-top: 20px;
}

.about-section {
  margin-bottom: 20px;
}

.about-section h2 {
  font-size: 2em;
  color: #000;
}

.about-section p, .about-section ul {
  font-size: 1.2em;
}
