.number-guessing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7e9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  transition: transform 0.3s;
}

.number-guessing:hover {
  transform: scale(1.05);
}

.number-guessing h2 {
  color: #1b5e20;
}

.number-guessing input {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #2e7d32;
  border-radius: 5px;
  width: 100px;
}

.number-guessing button {
  background-color: #66bb6a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.number-guessing button:focus {
  outline: none;
}

.number-guessing button:hover {
  background-color: #43a047;
  transform: scale(1.05);
}

.number-guessing p {
  color: #388e3c;
  font-size: 1.2em;
}

.reset-button {
  background-color: #66bb6a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.reset-button:hover {
  background-color: #43a047;
  transform: scale(1.05);
}
